
/** -----------------------------
 *  Dan Cederholm's "clearfix"
 */

.group:after {
    content:    ".";
    display:    block;
    height:     0;
    clear:      both;
    visibility: hidden;
}

/* For IE6 */
* html .group {
    height: 1%;
}

/* For IE7 */
*:first-child+html .group {
    min-height: 1px;
}